<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/99/40/c3/9940c3184f5dfac5593a104a1090c56f.jpg"><br>
    <h1>Scrabble Puppy Says:</h1>

    <a href="localhost:3000/scrabble/score/elephant">Score Elephant</a>
  </body>
</html>
